<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>DC87FCCE915413A477D1AA60E4B0B958</string>
            <key>code2</key>
            <string>3320186BFF7A79F236003E26A771ACD4</string>
            <key>code3</key>
            <string>B93A35865C452BE2C51B7766CB2A0ECD</string>
            <key>code4</key>
            <string>ECE936FB195CA7635BEB5EC6903810E9</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>backurl</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>url</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>websocketbackurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>websocketurl</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
        </dict>
        <key>websocketgw_all</key>
        <dict>
            <key>CN</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>DE</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
            <key>RU</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
            <key>SG</key>
            <string>connect-ws-dra.hispace.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-ws-dra.hispace.dbankcloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>107238319</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>243650030996302848</string>
            <key>package_name</key>
            <string>com.uob.cn.infinity.sit</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>2640065000000549744</string>
            <key>product_id</key>
            <string>99536292102644807</string>
            <key>client_id</key>
            <string>991157422867369664</string>
            <key>client_secret</key>
            <string>[!00934DF62236DBA434BFC9FE1B086886BA86B66919F7AFEAFE7B274FB1A01E8AECD987909386092D1507F2B7C696A0D0B719A52F97BCDAF7EC473632A55195039C241B4FBF3852D39B24447207A0AB90A230C11DBEE3D0C834D89CF2643E38D4A5]</string>
            <key>project_id</key>
            <string>99536292102644807</string>
            <key>app_id</key>
            <string>243650030996302848</string>
            <key>api_key</key>
            <string>DAEDAHoi7PyaXBElljHAB7bCmhX+BL8DJt1FTSfzW4oHJCtaeUWl+2FAcv+MwVQ2ypf9wyjrZ8bXhdCnKc0Oru/wZ/KZLcGqd9ki9A==</string>
            <key>package_name</key>
            <string>com.uob.cn.infinity.sit</string>
        </dict>
        <key>service</key>
        <dict>
            <key>edukit</key>
            <dict>
                <key>dh_url</key>
                <string>edukit.cloud.huawei.com.cn</string>
                <key>edu_url</key>
                <string>edukit.cloud.huawei.com.cn</string>
            </dict>
            <key>analytics</key>
            <dict>
                <key>channel_id</key>
                <string/>
                <key>collector_url</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_cn</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_de</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>collector_url_ru</key>
                <string>datacollector-drru.dt.dbankcloud.ru,datacollector-drru.dt.hicloud.com</string>
                <key>collector_url_sg</key>
                <string>datacollector-dra.dt.hicloud.com,datacollector-dra.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-drcn.cloud.huawei.com</string>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-drcn.ai.dbankcloud.com,ml-api-drcn.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>default_storage</key>
                <string/>
                <key>storage_url</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_cn_back</key>
                <string>https://agc-storage-drcn.cloud.huawei.com.cn</string>
                <key>storage_url_de</key>
                <string>https://ops-dre.agcstorage.link</string>
                <key>storage_url_de_back</key>
                <string>https://agc-storage-dre.cloud.huawei.eu</string>
                <key>storage_url_ru</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_ru_back</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_sg</key>
                <string>https://ops-dra.agcstorage.link</string>
                <key>storage_url_sg_back</key>
                <string>https://agc-storage-dra.cloud.huawei.asia</string>
            </dict>
        </dict>
        <key>region</key>
        <string>CN</string>
        <key>processing_location_policy</key>
        <dict>
            <key>analytics</key>
            <string>0</string>
        </dict>
        <key>appInfos</key>
        <array>
            <dict>
                <key>package_name</key>
                <string>com.uob.cn.infinity.sit</string>
                <key>client</key>
                <dict>
                    <key>client_secret</key>
                    <string>[!0035E6C47F6B5324105B83DADB9A2FACF154DDFE8CDAC2CFC459DD0C83C410D66644F8EDBC60041B088FAB8E0B8BBE2421140D75CB309225E1B9ED34B96513BA4A2AD62CC913E25B34C86A6FAEA2FC6363A553CF7C9713580A07AC984CDBC2C48E]</string>
                    <key>app_id</key>
                    <string>243650030996302848</string>
                </dict>
                <key>code</key>
                <dict>
                    <key>code1</key>
                    <string>8C2E478E1569E29DC923797B041B926FF4BE3D218B50B1DD0469698A5521ECFB</string>
                    <key>code2</key>
                    <string>16F1BE9F99EE6FF38BB4C6B4A7EDBA717B5CDC53A4CF2C03B9A9C61E014DAC17</string>
                    <key>code3</key>
                    <string>E8067C00C7DBD44A56145CE781E183C8380E361F39C1EEFCC1F2C029DBB363F1</string>
                    <key>code4</key>
                    <string>89229B6068BE2223336890C3BA7A683B</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
